<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather"
        android:usesCleartextTraffic="true"
        android:foregroundServiceType="location"
        >
        <activity
            android:name=".Screens.main.WeatherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screens.options.OptionsActivity"
            android:exported="false"
            android:label="@string/options_label"
            android:parentActivityName=".Screens.main.WeatherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Screens.main.WeatherActivity" />
        </activity>
        <activity
            android:name=".Screens.options.ChooseBackgroundActivity"
            android:exported="false"
            android:label="@string/choose_background_label"
            android:parentActivityName=".Screens.options.OptionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Screens.main.WeatherActivity" />
        </activity>
        <receiver android:name=".Screens.Widgets.WeatherWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

    </application>


</manifest>